body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formContainer {
  border: 3px solid black;
  width: 60%;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;

  form {
    margin: 20px;
    width: fill;
  }

  .fields {
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-direction: column;

      div {
        padding-top: 14px;
      }

      div.errorText {
        padding-top: 0px;
        align-self: start;
        padding-left: 3.2em;
      }
  }
}

.roster {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: middle;
  color: black;

  table {
    border: 2px solid black;
    width: 100%;
    border-collapse: collapse;
    background: #CCC;

    thead > tr > th {
      background: #AAA;
    }

    th:nth-child(even) {
      border-left: 2px solid black;
    }

    td {
      border-left: 2px solid black;
      border-right: 2px solid black;
    }

    tr:nth-child(even) {
      background: #EEE;
    }
  }
  

}

.country {
display: flex;
flex-direction: row;
gap: 15px;
width: 100%;
}

select {
  width: 100%;

  option {
    width:50%;
  }
}

button {
  box-shadow: 5px 5px 1px rgba(0, 0, 0, .8);
}

.buttonRow {
  display: flex;
  flex-direction: row;
  align-content:end;
  justify-content: flex-end;
  gap: 10px;
  width:100%;
}

.addMember {
  border: 1px solid black;
}

.clearMembers {
  border: 1px solid black;
}


.nameInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;

  input {
    width:100%
  }
}

.errorText {
  color: #900;
  font-size: 1em;
}


.flex-column {
  display: flex;
  flex-direction: column;
}
